BasedOnStyle: LLVM

BreakBeforeBraces: Allman

AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true

AlignConsecutiveDeclarations: None
AlignConsecutiveAssignments: None

ColumnLimit: 60

AlwaysBreakAfterReturnType: None
IndentWidth: 4
