[submodule "vendor/SDL2"]
	path = vendor/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/SDL2_ttf"]
	path = vendor/SDL2_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "vendor/SDL2_mixer"]
	path = vendor/SDL2_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
